{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"importOrder": ["^\\$(app|env)/", "^\\$lib/server", "^\\$", "^\\.\\./", "^\\./", "\\.css$"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
